<main>
    <modal [open]="isModalOpen">
        @if (betting) {
            <input id="bet" type="number" [(ngModel)]="bet" min="1" max="{{ points }}" name="bet">
            <p>You can bet up to {{ points }} points.</p>
            <div class="modal-button-container">
                <button class="modal-button" (click)="bet <= points && bet > 0 ? startGame() : null">Place your bet</button>
            </div>
        }
        @else {
            <h1 >You {{ playerTurn ? "Won!" : "Loss!" }}</h1>
            <h2>You {{ playerTurn ? "gained" : "lost" }} {{ bet }} points</h2>
            <div class="modal-button-container">
                @if (points > 0) {
                    <button class="modal-button" (click)="resetGame()">Play again</button>
                }
                <button class="modal-button" routerLink="/">Return to Title Screen</button>
            </div>
        }
    </modal>
    <player [name]="'Player'" [val]="playerVal" [currentTurn]="playerTurn" [points]="points" />
    <section id="overlay">
        <hr>
        <button (click)="handlePlayerRoll()">
            <img src="dice.svg" alt="Roll!">
        </button>
    </section>
    <opponent [name]="'Computer'" [val]="computerVal" [currentTurn]="playerTurn" [points]="points" />
</main>