<main>
    <div id="title-container">
        <img src="" alt="Logo">
        <div class="options">
            <button (click)="openModal('betting')">Offline Game</button>
            <button (click)="openModal('instructions')">How to Play</button>
        </div>
    </div>
    <modal [open]="isBettingOpen">
        <img (click)="closeModal('betting')" src="" alt="Exit">
        <button routerLink="offline-game">Play!</button>
    </modal>
    <modal [open]="isInstructionsOpen">
        <img (click)="closeModal('instructions')" src="" alt="Exit">
    </modal>
</main>